@import url("https://fonts.googleapis.com/css?family=Open+Sans:600, 300");

:root {
  --wheel-slice-spacing: 50px;
  --wheel-border-size: 0;
  --wheel-color: #832A4B;
  --neutral-color: white;
  --PI: 3.14159265358979;
  --nb-item: 1;
  --item-nb: 0;
  --selected-item: 0;
  --nb-turn: 5;
  --spinning-duration: 4s;
  --reset-duration: 0.25s;
}

.container {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
}

.wheel {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
  border: solid var(--wheel-color) var(--wheel-border-size);
  background-color: white;
  transition: transform var(--reset-duration);
  transform: rotate(0deg);
  cursor: pointer;

  .wheel-item {
    display: block;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 50%;
    height: 50%;
    width: 100%;
    max-width: 120px;
    transform-origin: 50% 100%;
    transform: translateX(-50%) rotate(calc(var(--item-nb) * (360deg / var(--nb-item, 1))));
    color: white;
    padding: 25px 0 50px 0;
    font-family: var(--wheel-font);
  }

  .wheel-item.bg-gradient:before {
    border-top: solid transparent calc(var(--wheel-size) / 2);
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
    background: var(--neutral-color) border-box;
  }

  .wheel-item.bg-color:before {
    border-top: solid var(--neutral-color) calc(var(--wheel-size) / 2);
  }

  .wheel-item:before {
    content: ' ';
    display: block;
    position: absolute;
    box-sizing: border-box;
    z-index: var(--item-zIndex);
    width: 0;
    height: 0;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding-left: 0;
    border: solid transparent calc(var(--slice-width) / 2);
    border-bottom: solid transparent 0;
  }
}
