@import url("https://fonts.googleapis.com/css?family=Open+Sans:600, 300");
:root {
  --wheel-font: 'Lato', 'Quicksand', sans-serif;
  --wheel-size: 400px;
  --wheel-slice-spacing: 50px;
  --wheel-border-size: 5px;
  --wheel-color:#832A4B;
  --neutral-color: white;
  --PI: 3.14159265358979;
  --nb-item: 1;
  --item-nb: 0;
  --selected-item: 0;
  --nb-turn: 5;
  --spinning-duration: 4s;
  --reset-duration: 0.25s;
}

.wheel {
  display: block;
  position: relative;
  box-sizing: content-box;
  margin: auto;
  width: var(--wheel-size);
  height: var(--wheel-size);
  overflow: hidden;
  border-radius: 50%;
  border: solid var(--wheel-color) var(--wheel-border-size);
  background-color: white;
  transition: transform var(--reset-duration);
  transform: rotate(0deg);
  cursor: pointer;

  .wheel-item {
    display: block;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 50%;
    height: 50%;
    width: 100%;
    max-width: 120px;
    transform-origin: 50% 100%;
    transform: translateX(-50%) rotate(calc(var(--item-nb) * (360deg / var(--nb-item, 1))));
    color: white;
    padding: 25px 0 50px 0;
    font-family: var(--wheel-font);
  }

  .wheel-item:before {
    content: ' ';
    display: block;
    position: absolute;
    box-sizing: border-box;
    z-index: var(--item-zIndex);
    width: 0;
    height: 0;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding-left: 0px;
    //opacity: 0.25;
    --slice-max-width: calc(var(--PI) * var(--wheel-size) + var(--wheel-size) / 2);
    //--slice-width: 130px;
    border: solid transparent calc(var(--slice-width) / 2);
    border-bottom: solid transparent 0;
    border-top: solid var(--neutral-color) calc(var(--wheel-size) / 2);
  }
}
